@import "tailwindcss";

/* LIGHT */
:root {
  --defult-brand: 152 60% 52.9%;
}

/* DARK */
@media (prefers-color-scheme: dark) {
  :root {
    --defult-brand: 152 60% 52.9%;
  }
}

@theme {
  --color-primary: hsl(var(--defult-brand) / 0.7);
}
